body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}



a {
	color:red;
}


/* IP */

/* background-color:red */
/* background-color:lime */
/* background-color:blue */
/* background-color:cyan */
/* background-color:magenta */
/* background-color:grey */


.ip{
	width: 100vw;
	height:100vh;
	background-color: teal;
	display: flex;
	align-items: center;
	justify-content: center;
}



.ip-text {
 	font-size: 12.5vw;
 	color: white;
 	font-family: Helvetica italic;
}



.checkers {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;

}



.checkers-darkgreen {
 	flex:0 0 50%;
 	height: 50vh;
 	background-color: darkgreen;
}



.checkers-lightgreen {
 	flex: 0 0 50%;
 	height: 50vh;
 	background-color: lightgreen;
}



/* CHECKERS*/

.checkers-type {
	width: 100vw;
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
}


.checkers-text {
	font-size: 15vw;
	font-family: Helvetica;
	padding: 2vw;
	color: white;
}



.user {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: yellow;
}



.avatar {
	width: 75vw;
	height:75vw;
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}



.letter {
 font-size:50vw;
 color: white;
 font-family: Helvetica;
}



