 body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}



a {
	color:red;
}


/* IP */


.ip{
	width: 100vw;
	height:100vh;
	background-color: teal;
	display: flex;
	align-items: center;
	justify-content: center;
}



.ip-text {
 	font-size: 12.5vw;
 	color: white;
 	font-family: Helvetica italic;
}

 

/* CHECKERS */ 

.checkers {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;

}


.checkers-darkgreen {
 	flex:0 0 50%;
 	height: 50vh;
 	background-color: darkgreen;
}



.checkers-lightgreen {
 	flex: 0 0 50%;
 	height: 50vh;
 	background-color: lightgreen;
}



.checkers-type {
	width: 100vw;
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
}


.checkers-text {
	font-size: 15vw;
	font-family: Helvetica;
	padding: 2vw;
	color: white;
}







/* USER */

.user {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: yellow;
}



.avatar {
	width: 75vw;
	height:75vw;
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}


.letter {
 font-size:50vw;
 color: white;
 font-family: Helvetica;
}






/* ADDRESS - WARNING */


.warning {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.warning-item {
	font-family: impact, bold;
	font-size: 100px;
	color: red;
	padding: 10px;
	animation: warning-blinker 1s linear infinite;
}


@keyframes warning-blinker {
  50% {
    opacity: 0;
  }
}

.battery-item {
	font-family: impact, bold;
	font-size: 100px;
	padding: 10px;
	color: black;
	animation: battery-blinker 2s linear infinite;
}


@keyframes battery-blinker {
  50% {
    opacity: 0;
  }
}





/* ADDRESS - HOTSPOT */

.hotspot {
	background-color: darkgrey; 
}


.hotspot-oval {
 	width: 160px;
 	height: 80px;
 	background: #a84909;
 	border-radius: 35%;
}







/* ADDRESS - PINDROP */

body {
  background: white;
}


.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #ff7575;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}


.pin:after {
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: white;
  position: absolute;
  border-radius: 50%;
}


.pulse {
  background: red;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}


.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px red;
  animation-delay: 1.1s;
}


@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}








/* ADDRESS - SAVE PASSWORD */

.password {
	background-color: lightgrey;
	padding: 20% 30%; 
	text-align: center;

}

.password-text {
	font-family: helvetica;
	font-size: 30px;
}


.password-button {
	text-align: center;
	padding: 30px 50px;
}


.password-button-item {
	background-color: red;
	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 8px;
}


.password-button-item:hover {
	background-color: #4CAF50; 
	color: white;
	border-radius: 8px;
}







/* ADDRESS - SCANNING */

.scanning {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}


.scanning-bar {
	width: 100vw;
  	height: 5px;
 	background-color: lime; 
  	box-shadow: 0 0 50px 60px #00ff11;
}







/* ADDRESS - LICENCE */

.licence {
	position: relative;
  	top: 0;
  	left: 0;
}

.licence-background {
	position: relative;
  	top: 0;
  	left: 0;
  	height: auto;
}

.licence-art {
	position: absolute;
  	top: 10%;
  	left: 30%;
  	display: inline-block;
}







/* ADDRESS -  BARCODE */


.barcode-one {
	border-left: 12px solid black;
 	height: 696px;
 	padding-left: 4px;
 	display: inline-block;
}


.barcode-two {
	border-left: 60px solid black;
 	height: 696px;
 	padding-left: 8px;
 	display: inline-block;
}


.barcode-three {
	border-left: 30px solid black;
 	height: 696px;
 	padding-left: 2px;
 	display: inline-block;
}


.barcode-four {
	border-left: 64px solid black;
 	height: 696px;
 	padding-left: 3px;
 	display: inline-block;
}

.barcode-five {
	border-left: 20px solid black;
 	height: 696px;
 	padding-left: 2px;
 	display: inline-block;
}

.barcode-six {
	border-left: 8px solid black;
 	height: 696px;
 	padding-left: 6px;
 	display: inline-block;
}

.barcode-seven {
	border-left: 50px solid black;
 	height: 696px;
 	padding-left: 9px;
 	display: inline-block;
}

.barcode-eight {
	border-left: 20px solid black;
 	height: 696px;
 	padding-left: 4px;
 	display: inline-block;
}

.barcode-nine {
	border-left: 34px solid black;
 	height: 696px;
 	padding-left: 2px;
 	display: inline-block;
}

.barcode-ten {
	border-left: 65px solid black;
 	height: 696px;
 	padding-left: 5px;
 	display: inline-block;
}

.barcode-eleven {
	border-left: 15px solid black;
 	height: 696px;
 	padding-left: 10px;
 	display: inline-block;
}

.barcode-twelve {
	border-left: 40px solid black;
 	height: 696px;
 	padding-left: 4px;
 	display: inline-block;
}

.barcode-thirteen {
	border-left: 65px solid black;
 	height: 696px;
 	padding-left: 8px;
 	display: inline-block;
}

.barcode-fourteen {
	border-left: 23px solid black;
 	height: 696px;
 	padding-left: 15px;
 	display: inline-block;
}

.barcode-fifteen {
	border-left: 30px solid black;
 	height: 696px;
 	padding-left: 7px;
 	display: inline-block;
}

.barcode-sixteen {
	border-left: 55px solid black;
 	height: 696px;
 	padding-left: 4px;
 	display: inline-block;
}

.barcode-seventeen {
	border-left: 12px solid black;
 	height: 696px;
 	padding-left: 12px;
 	display: inline-block;
}

.barcode-eighteen {
	border-left: 48px solid black;
 	height: 696px;
 	padding-left: 7px;
 	display: inline-block;
}

.barcode-nineteen {
	border-left: 20px solid black;
 	height: 696px;
 	padding-left: 10px;
 	display: inline-block;
}

.barcode-twenty {
	border-left: 20px solid black;
 	height: 696px;
 	padding-left: 10px;
 	display: inline-block;
}

.barcode-twentyone {
	border-left: 12px solid black;
 	height: 696px;
 	padding-left: 4px;
 	display: inline-block;
}

.barcode-twentytwo {
	border-left: 60px solid black;
 	height: 696px;
 	padding-left: 8px;
 	display: inline-block;
}

.barcode-twentythree {
	border-left: 30px solid black;
 	height: 696px;
 	padding-left: 2px;
 	display: inline-block;
}

.barcode-twentyfour {
	border-left: 64px solid black;
 	height: 696px;
 	padding-left: 3px;
 	display: inline-block;
}

.barcode-twentyfive {
	border-left: 20px solid black;
 	height: 696px;
 	padding-left: 2px;
 	display: inline-block;
}

.barcode-twentysix {
	border-left: 8px solid black;
 	height: 696px;
 	padding-left: 6px;
 	display: inline-block;
}

.barcode-twentyseven {
	border-left: 50px solid black;
 	height: 696px;
 	padding-left: 9px;
 	display: inline-block;
}

.barcode-twentyeight {
	border-left: 30px solid black;
 	height: 696px;
 	padding-left: 2px;
 	display: inline-block;
}

.barcode-twentynine {
	border-left: 15px solid black;
 	height: 696px;
 	padding-left: 7px;
 	display: inline-block;
}

.barcode-thirty {
	border-left: 8px solid black;
 	height: 696px;
 	padding-left: 6px;
 	display: inline-block;
}







/* ADDRESS - EMAIL */

.email {
	background-color: black;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


.email-sign {
	background-color: black;
	font-size: 140px;
	color: white;
	padding: 20px;
	position: flex;
	flex-wrap: wrap;

}








/* ADDRESS - MYKI */

.myki {
  	display: flex;
  	flex-wrap: wrap;
  	background-color: white;
}



.myki-word {
	margin: auto;
	width: 50%;
  	padding: 50px 0 50px 50px;

}




.pass {
	margin: auto;
	width: 50%;
  	padding: 50px 50px 50px 0;
}



/* ADDRESS - MAP LINES */

.maplines {
	background-image: url("assets/images/lithium.png");
    width: 100%;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    position:relative;
}





/* EARTH - LAYERS */

.black-circle {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000573;
}

.light-blue-circle {
	width: 85vw;
	height: 85vh;
	background-color: #53dff5;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.dark-blue-circle {
	width: 70vw;
	height:70vh;
	background-color: #000ad1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.green-circle {
	width: 50vw;
	height:50vh;
	background-color: #007a45;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.brown-circle {
	width: 35vw;
	height:35vh;
	background-color: #a64505;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.orange-circle {
	width: 20vw;
	height:20vh;
	background-color: #e66102;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

}

.red-circle {
	width: 10vw;
	height:10vh;
	background-color: #b50202;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}






/* EARTH - MATERIALS */

.materials-row {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.aluminium {
  flex: 20%;
  padding: 10% 0 10% 0;
}

.clay {
  flex: 20%;
	padding: 10% 0 10% 0;
}

.copper {
  flex: 20%;
  padding: 10% 0 10% 0;
}

.sandstone {
  flex: 20%;
  padding: 10% 0 10% 0;
}

.soil {
  flex: 20%;
  padding: 10% 0 10% 0;
}






/* EARTH - OCEANS */

.ocean-background {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}


.ocean {
	width: 80vw;
	height: 90vh;
	background-color: #547fff;
	border-radius: 50%;
	font-family: verdana; 
	color: #0712e0;
}


.arctic {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2% 0 0 0;
	font-family: impact;
}


.atlantic {
	display: flex;
	align-items: left;
	justify-content: left;
	padding: 8% 0 0 20%;
	font-family: impact;
}


.indian {
	display: flex;
	align-items: right;
	justify-content: right;
	padding: 11% 0 0 80% ;
	font-family: impact;
}


.pacific {
	display: flex;
	align-items: left;
	justify-content: left;
	padding: 0 30% 0 10%;
	font-family: impact;
}


.southern {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 17% 0 0 0;
	font-family: impact;
}







/* EARTH - BATTERY */
.lithium {
	background-image: url("assets/images/lithium.png");
    height:600px;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    position:relative;
} 






/* EARTH - ROTATION */

.earth-rotate {
	display: flex;
  	flex-wrap:wrap;
  	padding: 200px 20px 200px 100px;
}


.earth-red {
 	width: 50%;
 	height: 50vh;
	border-radius: 50%;
	height: 300px;
 	width: 300px;
 	background: radial-gradient(circle at 100px 100px, red, #000);
}


.earth-blue {
 	width: 50%;
 	height: 50vh;
    border-radius: 50%;
	height: 300px;
  	width: 300px;
  	background: radial-gradient(circle at 100px 100px, blue, #000);
}


.earth-green {
  	width: 50%;
  	height: 50vh;
   	border-radius: 50%;
	height: 300px;
	width: 300px;
  	background: radial-gradient(circle at 100px 100px, green, #000);
}


.earth-yellow {
  	width: 50%;
 	height: 50vh;
    border-radius: 50%;
	height: 300px;
  	width: 300px;
  	background: radial-gradient(circle at 100px 100px, yellow, #000);
}






/* EARTH - MOON */

.stars {
	width: 100vw;
	height:100vh;
	background: linear-gradient(to bottom, #0c007a 0%, #8774b8 100%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.moon-item {
	width: 100px;
     height: 100px;
     border-radius: 50%;
     box-shadow: 15px 15px 0 0 white;
     opacity: 50%;
     display: flex;
}






/* EARTH - SPINNING WINDMILL */


.windmill {
	text-align: center;
	padding: 100px 0 0 0;
	color: #fff;
	background: white;
}

.windmillpic {
	animation: turn 2s infinite linear;
}

@keyframes turn {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
		}






/* EARTH - ALIEN */

.eyes {
	padding: 100px;
}




/* EARTH - ELECTRICITY */

.electric {
	width: 100vw;
	height:100vh;
	background-color: yellow;
}

.electric-font {
	font-size: 20.5vw;
 	color: white;
 	font-family: Helvetica italic;

}




/* EARTH - CHARGER */




/* EARTH - CAMERA */













