

body {
	font-family: impact,sans-serif;
	font-size: 32px;
	cursor: pointer;	
	background-image: "flamingobackground.png";
}



.nav {
	width: 100%;
	background-color:#ffb8b8;
	padding: 5px 5px;
	position: fixed;
	text-align: center;
	top: 0px;
	left: 0px;
}


.nav-item {
	display: inline-block; 
	padding: 3px;
	background-color: #ffb8b8;
	color: white;
	font-family: 'Fjalla One', sans-serif;
	text-decoration: none;
	font-size: 20px;
}
 



.title {
	width: 100%;
	font-family: 'Fjalla One', sans-serif, bold;
	color: #ffc0bf;
	font-size: 140px;
	text-align: left;
	text-shadow: 5px 5px #f71714;
	padding: 10% 2%;
}













