

body {
	font-family: impact,sans-serif;
	font-size: 70px;
	text-align: center;
	background-color: lightpink;
	color: orangered;	 
}



 
.title {
	font-family: 'Fjalla One', sans-serif, bold;
	color: white;
	font-size: 140px;
	text-align: center;
}



.bio {
	color: lightpink;
	font-family: 'Arimo', sans-serif;
	font-size: 30px;
	text-align: center;

}




.nav {
	width: 100%;
	background-color:#f7f7f7;
	padding: 3px;
	position: fixed;
	text-align: center;
	top: 0px;
	left: 0px;
}



.nav-item {
	display: inline-block;
	padding: 5px;
	background-color: #f7f7f7;
	border-radius: 5px;
	color: #fc42af;
	font-family: 'Fjalla One', sans-serif;
	text-decoration: none;
	font-size: 20px;
}













