

body {
	background-image: url(backgroundone.jpeg); 
	font-family: impact,sans-serif;
	font-size: 70px;
	cursor: pointer;	
}



 
.title {
	width: 100%;
	font-family: 'Fjalla One', sans-serif, bold;
	color: #ffc0bf;
	font-size: 140px;
	text-align: left;
	text-shadow: 5px 5px #f71714;
	margin-top: 10%;
	padding: 0% 2%;
}






.nav {
	width: 100%;
	background-color:#73adff;
	padding: 1px;
	position: fixed;
	text-align: center;
	top: 0px;
	left: 0px;
}


.nav-item {
	display: inline-block;
	padding: 1px;
	background-color: #73adff;
	border-radius: 5px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
	text-decoration: none;
	font-size: 20px;
}










