body {
	font-family: impact,sans-serif;
	font-size: 70px;
	text-align: center;
	background-color: lightpink;
	color: orangered;	 
}

 
.title {
	font: impact, bold;
	color: white;
	font-size: 140px;
	text-align: center;
	background-color:#f72900;
	border-color: #f72900;
	padding: 10px; 
}


.bio {
	color: lightpink;
	font-size: 30px;
	text-align: center;
	font-family: impact, sans-serif;
	background-color: #f72900;
}


.bio2 {
	color: #f72900;
	font-size: 10px;
	text-align: center;
	font-family: impact, sans-serif;
	background-color: #f72900;
}




