 

body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	cursor: pointer;
}



a {
	color:red;
}



.nav {
	width: 100%;
	background-color:#f7f7f7;
	padding: 3px;
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;
}





.nav-item {
	display: inline-block;
	padding: 3px;
	background-color: #f7f7f7;
	border-radius: 3px;
	color: black;
	font-family: 'Fjalla One', sans-serif;
	text-decoration: none;
	font-size: 20px;
}





.nav-header {
	display: inline-block;
	padding: 3px;
	color: #c90879;
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;

}




.title {
	width: 100%;
}





.title img {
	width: 100%;
}




.essay {
	display: flex;
	flex-wrap:wrap;
	margin-bottom: 80px;
}





.text { 
	padding: 10% 22% 0 22%;
	font-family: 'Fjalla One', sans-serif, bold;
	font-size: 20px;
}




.text h1 {
	font-size: 85px;
	font-family: 'Fjalla One', sans-serif;
	color: #ffa8db;
	margin-bottom: 15vh;
	padding: 35px 0 0 0;
	text-align: center;
}




.text p {
	margin-bottom: 20px;
	font-family: 'Arimo', sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 23px;
}




.research {
	display: flex;
	flex-wrap: wrap;
}




.research-item {
	flex: 0 0 33.333%;
	padding: 50px;
}





.research-item img {
	width: 100%;
}




.research-item span {
	color: grey;
	font-size: 15px;
	font-family: 'Arimo', sans-serif;

}


/* interactive classes */

.hide {
	display: none;
}











