body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}



.nav {
	width: 100%;
	background-color: #fce6f1;
	padding: 5px;
	position: fixed;
	text-align: center;
	top: 0px;
	left: 0px;
}


.nav-item {
	display: inline-block;
	padding: 5px;
	background-color: #fce6f1;
	border-radius: 5px;
	color: #ff99d0;
	font-family: 'Fjalla One', sans-serif;
	text-decoration: none;
}


.nav-header {
	display: inline-block;
	padding: 5px;
	color: white;
	font-family: 'Fjalla One', sans-serif;

}



.title {
	width: 100%;
}



.title img {
	width: 100%;
}




.essay {
	display: flex;
	flex-wrap:wrap;
	margin-bottom: 80px;
}




.text { 
	padding: 7% 20% 0 20%;
	font-family: 'Fjalla One', sans-serif, bold;
	font-size: 36px;


}




.text h1 {
	font-size: 70px;
	font-family: 'Fjalla One', sans-serif;
	color: #ff8fcb;
	margin-bottom: 15vh;
	padding: 35px 0 0 0;
}




.text p {
	margin-bottom: 20px;
	font-family: 'Arimo', sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-kerning: 10px;
}




.research {
	display: flex;
	flex-wrap: wrap;
}




.research-item {
	flex: 0 0 33.333%;
	padding: 10px;
}




.research-item img {
	width: 100%;
}




.research-item span {
	color: grey;
}


/* interactive classes */

.large {
	flex:0 0 66.666%;
	transition: 2s;
}


.hide {
	display: none;
}


.active {
	background-color: red;
}







