

html, body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

/* new library title */
.container1 {
	background-color: #b5d9ff;
	height: 100vh;
}




.title {
	font-family: Mansalva, cursive;
	text-align: center;
	font-size: 150px;
	color: white;
	text-shadow: 4px 4px #007cff;
	margin: 0 50px;
	padding: 8% 0 4% 0;
	position: sticky;
	top: 100px;
}



/* container2: information */
.container2 {
	height: 800px;
	background-color: #003cff;
	top:100px;
}


.subtitle {
	font-family: arial; 
	font-style: italic;
	text-align: center;
	font-size: 30px;
	color: white;
	margin-top: 0;
	position: sticky;
	top: 100px;
	padding: 20% 5% 10% 5%;
}







/* container3: new library navbar  */

.container3 {
	height: 50px;
	background-color: #b5d9ff;
	top:100px;
	padding: 25% 15%;
}

.navbar {
	overflow: hidden;
	width: 100%;
	float: left;
	margin: auto;
	text-align: center;
	background-color: none;
	padding: 4px;
	font-family: Arial;
	position: inline-block;

}





/* new library dropdown container */
.dropdown {
	float: left;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	min-width: 200px;
	text-align: center;
}



/* new library dropdown button */
.dropbtn {
	font-size: 40px;
  	border: none;
	outline: none;
  	color: white;
	background-color: inherit;
	margin-left: 20px;
	min-width: 200px;
	padding: 5%;
	text-align: center;
}



/* new library add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #61adff;
	min-width: 200px;
}



/* new library aropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #82beff;
	text-align: center;
	min-width: 200px;

}


/* new library links inside the dropdown */
.dropdown-content a {
 	float: center;
 	color: white;
 	min-width: 200px;
 	padding: 20px 0;
	text-decoration: none;
  	display: block;
  	text-align: center;
  	font-size: 30px;
 }



/* new library add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
 	background-color: #385df2;
}



/* new library show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
 	display: block;
}




/* container for all link pages */
.container4 {
  	background-color: #b5d9ff;
	height: 100vh;
}



/* title for all link pages */
.link-title {
	font-family: Mansalva, cursive;
	position: inline-block;
	text-align: center;
	font-size: 60px;
	padding: 14% 0 3% 0 ;
	color: white;
	text-shadow: 3px 3px #007cff;
	margin: 0 50px;
	position: sticky;
	top: 100px;

}


/* container for all the body text on linking pages */
.container5 {
	height: 425px;
	background-color: #003cff;
	top:100px;
	padding: 10%;
}



/* all the body text on linking pages */
.body-item {
	font-family: arial; 
	text-align: left;
	font-size: 25px;
	color: white;
	line-height: 42px;
	padding-left: 18%;
}


.body-item input:checked ~ label:before {
	content: "\02713";
}



/*top back button */
.container6 {
	background-color: #003cff;
	height: 50px;
	top:30px;
	padding: 0 2% 0 0;
}



.back-button {
	font-family: Mansalva, cursive;
	color: white;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	display: block;
	float: center;
}




/* settings for mobile screen view */

@media screen and (max-width: 600px) {
  .bio {
    width: 100%;
  }

.title {
	font-size: 70px;
 }

.navbar {
		padding: 0 27% 70% 29%;
}


}







